@tailwind base;
@tailwind components;
@tailwind utilities;

/* FOR ALL */
*{
    box-sizing: border-box;
    margin: 0;
}

/* BACKGROUND COLOR FOR BACKGROUND */
.component-container{
    background-color: rgb(15 23 42);
}

/* DEFAULT BUTTON BACKGROUND COLOR */
.button{
    background-color: rgb(30 41 59);
}